<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password Page</title>
  <link rel="icon" type="image/png" href="/public/images/favicon.jpg">
  <link rel="stylesheet" href="/public/user/css/forgot-password.css" />
</head>
<body>

  <%- include("../../views/partials/user/navbar")%>

  <div class="forgot-container">
    <form action="/user/forgot-password" method="post" class="forgot-box">
      <h2>Forgot Password</h2>
      <p>Enter your registered email to reset your password.</p>

      <% if (errorMessage) { %>
        <div style="color: red; font-weight: bold; margin-bottom: 10px;">
          <%= errorMessage %>
        </div>
      <% } %>
      
      <% if (successMessage) { %>
        <div style="color: green; font-weight: bold; margin-bottom: 10px;">
          <%= successMessage %>
        </div>
      <% } %>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"  />
        <span class="emailError" id="emailError" style="color: red;"></span>
      </div>

      <button type="submit" class="submit-btn" id="submit-btn">Send Reset Link</button>

      <div class="form-footer">
        <a href="/user/login">Back to login</a>
      </div>
    </form>
  </div>

  <%- include("../../views/partials/user/footer")%>


  <script>
    const submitBtn = document.getElementById("submit-btn")
    const email = document.getElementById("email");
    const emailError = document.getElementById("emailError");

    submitBtn.addEventListener("click",((event)=>{
      emailError.textContent = '';
      let isValid = true

      
    if(!email.value.trim()){
      emailError.textContent = "This Field is required"
      isValid = false;
    }else {
      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailPattern.test(email.value.trim())) {
      emailError.textContent = 'Enter a valid email';
      isValid = false;
    }
    }

    if(!isValid){
      event.preventDefault();
    }

    }))



    

  </script>
</body>
</html>